<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/general}" lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gestión de préstamos</title>
</head>

<body>
  <section layout:fragment="custom-content">
    <h3 class="mt-4">Editar préstamo</h3>
    <form th:action="@{/prestamos/editar/{id}(id=${prestamo.id})}" th:object="${prestamo}" method="post">
      <fieldset>
        <div class="form-group">
          <label class="form-label mt-4">ID del ejemplar</label>
          <input type="text" class="form-control" th:field="*{ejemplar_id}" placeholder="" />
        </div>
        <div class="form-group">
          <label class="form-label mt-4">DNI/NIE socio</label>
          <input type="text" class="form-control" th:name="dni" th:value="${prestamo.socio.dni}" placeholder="" />
        </div>
        <div class="form-group">
          <label class="form-label mt-4">Fecha fin de prestamo</label>
          <input type="date" class="form-control" th:field="*{fecha_fin}" placeholder="" />
        </div>
        <button type="submit" class="btn btn-primary mt-4">Editar</button>
      </fieldset>
    </form>
  </section>
</body>

</html>