<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar libro</title>
</head>
<body>
    <form th:action="@{/libro/insertar}" th:object="${libro}" method="post">
        <fieldset>
            <legend>Datos del libro</legend>
            <table>
                <tr>
                    <td><label>Título: </label></td>
                    <td><input type="text" th:field="*{titulo}" /></td>
                </tr>
                <tr>
                    <td><label>Editorial: </label></td>
                    <td><input type="text" th:field="*{editorial}" /></td>
                </tr>
                <tr>
                    <td><label>ISBN: </label></td>
                    <td><input type="text" th:field="*{isbn}" /></td>
                </tr>
                <tr>
                    <td><label>Páginas: </label></td>
                    <td><input type="text" th:field="*{paginas}" /></td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Agregar</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</body>
</html>