<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/general}" lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de biblioteca</title>
</head>

<body>
    <section layout:fragment="custom-content">
        <h3 class="mt-4">Editar ejemplar</h3>
        <form th:action="@{/ejemplares/editar/{id}(id=${ejemplar.id})}" th:object="${ejemplar}" method="post">
            <fieldset>
                <div class="form-group">
                    <label class="form-label mt-4">Selecciona un libro o
                        <a th:href="@{/libros/insertar}" class="btn btn-info btn-sm">inserta uno nuevo</a></label>
                    <select class="form-select" th:field="*{libro_id}">
                        <option th:each="libro : ${listaLibros}" th:value="${libro.id}" th:text="${libro.titulo}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Selecciona una editorial o
                        <a th:href="@{/editoriales/insertar}" class="btn btn-info btn-sm">inserta una nuevo</a></label>
                    <select class="form-select" th:field="*{editorial_id}">
                        <option th:each="editorial : ${listaEditoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Edición</label>
                    <input type="number" class="form-control" th:field="*{edicion}" placeholder="" />
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">ISBN</label>
                    <input type="text" class="form-control" th:field="*{isbn}" placeholder="" />
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Páginas</label>
                    <input type="number" class="form-control" th:field="*{paginas}" placeholder="" />
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Estado</label>
                    <select class="form-select" th:field="*{estado}">
                        <option value="Deplorable">Deplorable</option>
                        <option value="Regular">Regular</option>
                        <option value="Correcto">Correcto</option>
                        <option value="Bueno">Bueno</option>
                        <option value="Impecable">Impecable</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Fecha de impresión</label>
                    <input type="date" class="form-control" th:field="*{fecha_imp}" placeholder="" />
                </div>
                <button type="submit" class="btn btn-primary mt-4">Editar</button>
            </fieldset>
        </form>
    </section>
</body>

</html>