<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/general}" lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gestión de biblioteca</title>
</head>
<body>
  <section layout:fragment="custom-content">
    <h3 class="mt-4">Lista de ejemplares <a th:href="@{/ejemplares/insertar}" class="btn btn-info btn-sm"><span data-feather="plus-square"></span></a></h3>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>ID</th>
            <th>Libro</th>
            <th>Editorial</th>
            <th>Edición</th>
            <th>ISBN</th>
            <th>Páginas</th>
            <th>Estado</th>
            <th>Fecha de impresión</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="ejemplar : ${listaEjemplares}">
            <td th:text="${ejemplar.id}"></td>
            <td th:text="${ejemplar.detalle.libro.titulo}"></td>
            <td th:text="${ejemplar.detalle.editorial.nombre}"></td>
            <td th:text="${ejemplar.detalle.edicion}"></td>
            <td th:text="${ejemplar.detalle.isbn}"></td>
            <td th:text="${ejemplar.detalle.paginas}"></td>
            <td th:text="${ejemplar.estado}"></td>
            <td th:text="${ejemplar.detalle.fecha_imp}"></td>
            <td>
              <a th:href="@{/ejemplares/editar/{id}(id=${ejemplar.id})}" class="btn btn-warning btn-sm"><span data-feather="edit"></span></a>
              <a th:href="@{/ejemplares/eliminar/{id}(id=${ejemplar.id})}" class="btn btn-danger btn-sm"><span data-feather="trash-2"></span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
</html>